/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Style */
.container {
  width: 1366px;
  margin: auto;
  box-sizing: border-box;
}

/* Header Start*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightcoral;
  padding: 10px 100px 10px 50px;
}

.homelogo a img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

/* Navbar Start */
li {
  display: inline-block;
  box-sizing: border-box;
  width: 120px;
  height: 40px;
  background-color: darkgoldenrod;
  border-radius: 7px;
}

li > a {
  font-family: "Arial";
  font-weight: bold;
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding: 12px 0px 16px 0px;
}

li > a:hover {
  color: black;
}

li > a:active {
  color: yellow;
}
/* Navbar End */
/* Header End */

.banner {
  width: 1366px;
  height: 578px;
  margin: auto;
  background-image: url(https://cdn.webane.net/saudinesia/2021/10/6e852bdf-luar-angkasa.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

h1 {
  font-family: Arial;
  font-size: x-large;
  text-shadow: 2px 5px 10px white;
  padding: 50px 0px 0px 100px;
}

p {
  font-family: Arial;
  font-size: medium;
  text-shadow: 2px 5px 10px white;
  padding: 20px 0px 0px 100px;
}

.facility {
  margin: auto;
  padding: 100px 0px 100px 0px;
  box-sizing: border-box;
  background-color: chocolate;
}

.facilities {
  font-family: Arial;
  font-size: x-large;
  font-weight: bold;
  color: white;
  text-shadow: 5px 5px 10px black;
  padding: 0px 0px 0px 100px;
}

.heroicon > section > img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 5px 5px 6px black;
}

.heroicon {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px 0px 100px;
}

section > div > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > div > section > span {
  font-family: Arial;
  font-size: medium;
  font-weight: bold;
  color: white;
  padding: 20px 0px 0px 0px;
  text-shadow: 5px 5px 10px black;
}

.messageus {
  font-family: Arial;
  font-size: x-large;
  font-weight: bold;
  text-shadow: 2px 5px 10px white;
  padding: 50px 0px 0px 100px;
}

.forminput {
  width: 50%;
}

.box {
  width: 100%;
  display: flex;
  align-items: baseline;
  margin: 20px 0px 0px 100px;
}

.w25 {
  width: 25%;
}

form > div > span {
  padding-right: 10px;
}

.w75 {
  width: 75%;
  height: 30px;
}

#msgbox {
  width: 75%;
  height: 100px;
}

.submit {
  width: 100%;
  height: 30px;
  margin: 20px 0px 0px 100px;
  border-radius: 5px;
}

input {
  border-radius: 5px;
}

#boxmsg {
  align-items: flex-start;
}
